
.header {
  height: 80px;
  background-color: darkgrey;
}
.main {
  padding: 50px;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
.month {
  display: flex;
  height: 35px;
}
.form_child {
  margin: 0 10px;
}
.btn {
  height: 60px;
}
.lists {
  display: flex;
  padding-top: 30px;
  margin-bottom: 30px;
}
.text {
  height: 30px;
}
.week_sum {
  margin-bottom: 30px;
}