
.header {
  margin-top: 20px;
  height: 100px;
  background-color: #f8edeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_list {
  width: 100px;
  text-align: center;
  height: 70px;
  font-size: 30px;
  display: block;
  margin: 0 20px;
  background-color: #ffb5a7;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  line-height:70px;
}
.main {
  padding: 10px 50px;
  font-size: larger;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
.month {
  display: flex;
  height: 80px;
}
.form_child {
  margin: 0 10px;
  font-size: 25px;
}
.btn {
  height: 80px;
  width: 200px;
  background-color: #ffb5a7;
  color: white;
  border-radius: 10px;
  font-size: 40px;
  margin-top: 30px;
}
.container {
  display: flex;
  padding-top: 10px;
}

.lists {
  display: flex;
  // padding-top: 30px;
  margin-bottom: 30px;
}
.text {
  height: 80px;
  width: 250px;
  font-size: 30px;
}
.month_sum {
  margin-bottom: 30px;
  height: 120px;
  margin-right: 50px;
}

.week_sum {
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
}

.month_sum,.week_sum {
  font-size: 27px;
  border-collapse: collapse;
  border-color: #2286D3;
}

h3 {
  text-align: center;
}
.delete {
  color: gray;
  text-decoration: none;
  font-size: 15px;
}

td {
  height: 40px;
}
.month,.month select {
  width: 400px;
  font-size: larger;
}
.search {
  margin-top: 30px;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  vertical-align: -0.8rem;
  transition:all .15s ease-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: .4rem;
  outline: none;
  border-radius: 10%;
}

input[type=radio] {
  border-radius: 50%;
}
input[type=radio]:checked:before {
  transform: scale(1);
}
input[type=radio]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  transform: scale(0);
  transition: all ease-out 250ms;
}
/* 色は青色のみ */
input[type=checkbox].blue,input[type=radio].blue {
  border: 2px solid black;
}
input[type=checkbox].blue:checked,input[type=checkbox].blue:indeterminate,input[type=radio].blue:checked:before {
  background: rgb(211, 197, 197);
}

.status {
  display: flex;
}
