
.header {
  margin-top: 20px;
  height: 80px;
  background-color: #f8edeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_list {
  font-size: 25px;
  display: block;
  margin: 0 20px;
  background-color: #ffb5a7;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.main {
  padding: 10px 50px;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
.month {
  display: flex;
  height: 35px;
}
.form_child {
  margin: 0 10px;
}
.btn {
  height: 60px;
}
.container {
  display: flex;
}
.lists {
  display: flex;
  padding-top: 30px;
  margin-bottom: 30px;
}
.text {
  height: 30px;
}
.week_sum {
  margin-bottom: 30px;
}
h3 {
  text-align: center;
}
.delete {
  color: gray;
  text-decoration: none;
}